<header class="main-header">
    <h1 class="main-header__title">
      <span class="main-header__title--blue">Kris || </span
      ><span class="main-header__title--orange">Desing Unhas em gel</span>
    </h1>
    <div div class="container-menu">
      <nav class="main-header__menu ul">
        <ul>
          <li><a routerLink="produtos"> Produtos</a></li>
          <!--link com a pagina -->
          <li>
            
          <li><a routerLink="contato"> Contato</a></li>
          <!-- aqui abre direto a pagina contato-->
  
          <li>
            <a href="//www.facebook.com/kricianne.pires?mibextid=ZbWKwL" > <i class="fa-brands fa-facebook-f"></i></a>
          </li>
      
          <li>
            <a href="https://instagram.com/kricianne?igshid=YmMyMTA2M2Y="> <i class="fa-brands fa-instagram"></i></a>
          </li>
         
        </ul>
      </nav>
    
      <!--apos a criacao do componet barra de pesquisa, cola aqui a pagina-->
      <!--  A BARRA DE PESQUISA ERA AQUI, MAS CRIAMOS OUTRO COMPONENTE PARA A BARRAS DE PESQUISA, POIS QUANDO EU ESTAVA NA PAGINA CONTATO, E DIGITAVA MOUSE NA PESQUISA ELE NAO DIRECIONAVA PAR A PAGINA DE PRODUTOS
    <form class="search-form">         esse search-form já faz um get, na url já aparece o parametro de pesquisa, son com esse nome descicao
      <input type="text" name="descricao">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>    esse submit manda um get
    </form>
  
    copia isso e mais os estilo css e cole no novo componente
  -->
    </div>
  </header>
  
